@import url(./components/header.css);
@import url(./components/post.css);
@import url(./components/nav.css);
@import url(./components/modal.css);
@import url(./components/inscription.css);
@import url(./components/recherche.css);
@import url(./components/connexion.css);
@import url(./components/type.css);
@import url(./components/profil.css);



a{
    color: rgb(0, 0, 0);
    text-decoration: unset;
  }
  
  main{
    display: flex;
    margin-left: 33.3%;
  }
  body{
    background-color: rgb(191, 216, 189);
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
  }
  textarea{
    border-color: rgb( 119, 191, 163);
    background-color: rgb( 119, 191, 163);
    resize: none;
    color: white;
    font-size: medium;
  }
.space-top{
    margin-top: 2%;
    display: flex;
}
.bienvenue{
    display: flex;
    position: relative;
    left: -700px;
    animation: deplacement 8s linear infinite;
}
@keyframes deplacement {
    0% {
      left: -700;
    }
    100% {
      left: calc(100% + 100px); /*ajustez la valeur de 100px selon vos besoins*/
    }
  }
.logo-lotus{
    width: 5%;
    height: 3%;
}
:root{
    --couleur-tweeter: rgb(0, 172, 238);
    --couleur-sport: #E38181;
    --couleur-politique: #AC9F9F;
    --couleur-musique: #BE86B9;
    --couleur-divertissement: #CFD492;
    --couleur-cinema: #383638;
    --couleur-voyage: #99D89C;
    --couleur-cuisine: #999FD4;
    --couleur-art: #DEACE2;
  }