.inscrip{
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    align-items:center;
    margin-top: 2%;
}
.formulaire{
    background-color: #EDEEC9;
    padding: 2%;
    border-radius: 20px;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.5);
}
.creation{
    color: rgb(255, 255, 255);
}
.formu{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}
.formu input{
    width: 90%;
    height: 35px;
}

.selection select{
    height: 26px;
}
.submit{
    width: 50%;
    background-color: white;
    border-color: white;
    font-size: x-large;
    height: 50px;
    border-radius: 20px;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.5);
}
.recap{
    background-color: rgb(222, 182, 247);
    color: white;
    padding: 3%;
    border-radius: 20px;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.5);
    margin-top: 4%;
    font-size: x-large;
}
.valid{
    color: rgb(222, 182, 247);
    font-size: xx-large;
    background-color: white;
    padding: 1%;
    border-radius: 20px;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.5);
}
.page-connect{
    color: white;
    font-size: large;
}
.page-connect a{
    color: white;
}


.inscrip-back{
    background-color: rgb(222, 182, 247);
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
}