.nav-bar{
    display: flex;
    flex-direction: column;
    color: rgb(255, 255, 255);
    font-size: x-large;
    margin-left: 8%;
    margin-top: 8%;
    gap: 80%;
    width: 140px;
}
.nav{
    color: rgb(0, 0, 0);
    margin-top: 8%;
    font-size: x-large;
    font-weight: bold;
    transition: 0.5s;
}
.nav:hover{
    background-color: #dddddd;
    padding: 10px;
    border-radius: 20px;
}
@keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
.logo{
    width: 70px;
    animation: rotate;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}


@media all and (max-device-width:480px){

}

