.rech{
    height: 25px;
    margin-left: 2%;
    margin-top: 4%;
    width: 200px;
    border-radius: 20px;
    height: 35px;
}
.rechercher{
    height: 30px;
    margin-top: 4%;
    margin-left: 2%;
    font-size: large;
    background-color: var(--couleur-tweeter);
    color: white;
    border-color: var(--couleur-tweeter);
    border-radius: 20px;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.5);
}
.form-recherche{
    display: flex;
    margin-top: 5%;
}
.espace_recherche{
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    padding-right: 1.8%;
    margin-left: 1.5%;
}
.message_recherche{
    margin-top: 2%;
    margin-left: 5%;
    border:1px solid rgb(235, 235, 235);
    background-color: white;
    padding: 2%;
    border-radius: 20px;
}
.tweet_recherche{
    font-weight: bold;
    font-size: large;
}
.no_tweet{
    font-weight: bold;
    margin-left: 5%;
    font-size: large;
}
.affichage_tweet{
    background-color: rgb(235, 233, 233);
    border-radius: 15px;
    padding-right: 4.8%;
    padding-top: 4%;
    padding-bottom: 4%;
    margin-top: 8%;
}

@media all and (max-device-width:480px){
    .espace_recherche{
        clear: both;
        display: none;
    }
}
  