.last{
    margin-left: 45%;
    position: fixed;
}
.last-profil{
    display: flex;
    flex-direction: column;
    padding: 2%;
    margin-left: 3%;
}
.last form{
    display: flex;
    flex-direction: column;
    margin-top: 40%;
}
.last input{
    margin-top: 10%;
    font-size: x-large;
    border-radius: 10px;
    cursor: pointer;
}
.lost{
    display: none;
}
.deconnexion{
    font-size: x-large;
    background-color: #EDEEC9;
    padding: 5%;
    width: 65%;
    color: black;
    font-weight: bold;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    font-weight: bold;
    cursor: pointer;
    margin-left: 10%;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.5);
    transition: 0.5s;
}

.deconnexion-responsive{
    display: none;
}
.filter-btn{
    font-size: 24px;
    font-weight: bold;
    margin-top: 10%;
    padding: 2% 4% 4% 4%;
    color: white;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    cursor: pointer;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.5);
    width: 240px;
}
.filter-buttons{
    margin-top: 8%;
    display: flex;
    flex-direction: column;
}
.reset-filter{
    font-size: x-large;
    font-weight: bold;
    margin-top: 4%;
    margin-left: 20%;
    margin-right: 18%;
    padding: 5%;
    color: black;
    border-radius: 20px;
    background-color: #EDEEC9;
    border-color: #EDEEC9;
    cursor: pointer;
    transition: 0.5s;
}
.reset-filter:hover{
    transform: scale(1.2);
}

@media screen and (max-width:1200px){
    .last{
        display: none;
    }
    .last-profil{
        display: none;
    }
    .lost{
        display: block;
    }
    .deconnexion-responsive{
        display: block;
        font-size: x-large;
        background-color: #EDEEC9;
        padding: 1%;
        width: 135px;
        color: black;
        font-weight: bold;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
        font-weight: bold;
        cursor: pointer;
        margin-left: auto;
        box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.5);
        transition: 0.5s;
    }

    .filter-buttons{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0;
        gap: 2%;
        
    }
    .filter-btn{
        margin-top: 2%;
        padding: 0;
        width: 210px;
    }
    .reset-filter{
        margin-top: 2%;
        padding: 2%;
        margin-left: 37%;
        margin-right: 40%;
    }
  }