.last{
    display: flex;
    flex-direction: column;
    padding: 2%;
}
.last form{
    display: flex;
    flex-direction: column;
    margin-top: 40%;
}
.last input{
    margin-top: 10%;
    font-size: x-large;
    border-radius: 10px;
    cursor: pointer;
}
.lost{
    display: none;
}
.deconnexion{
    font-size: x-large;
    background-color: var(--couleur-tweeter);
    padding: 1%;
    border-radius: 25px;
    color: white;
    height: 34px;
    font-weight: bold;
    margin-left: 3%;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.5);
}
.filter-btn{
    font-size: x-large;
    font-weight: bold;
    margin-top: 15%;
    padding: 2% 15% 4% 4%;
    color: white;
    border-radius: 20px;
    cursor: pointer;
}
.filter-buttons{
    margin-top: 40%;
    margin-right: 20%;
}
.reset-filter{
    font-size: x-large;
    font-weight: bold;
    margin-top: 15%;
    padding: 2% 15% 4% 4%;
    color: white;
    border-radius: 20px;
    background-color: var(--couleur-tweeter);
    border-color: var(--couleur-tweeter);
    cursor: pointer;
}
.reset-filter:hover{
    background-color: rgb(6, 138, 190);
}

@media all and (max-device-width:480px){
    .deconnexion{
        font-size: x-large;
        padding: 5%;
        width: 100%;
    }
    .last{
        display: none;
    }
    .lost{
        display: block;
        left: -314px;
        bottom: -476px;
        position: relative;
    }
    .reset-filter .lost{
        margin-top: 10%;
    }
    .lost .deconnexion{
        display: block;
        margin-top: 5%;
        margin-left: 0;
        margin-right: 20%;
    }
  }

